/* Home.css */

/* Container principal da página Home */
.home {
  max-width: 2200px; 
  height: 2350px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
}

/* Título da página */
.home h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-top: 100px;
}

/* Input de busca */
.search-input {
  width: 100%;
  max-width: 400px;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  margin: 0 auto;
  display: block;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* Input de busca ao focar */
.search-input:focus {
  border-color: #ffb400;
  box-shadow: 0 0 5px rgba(255, 180, 0, 0.5);
}

/* Grid de livros - específico da página Home */
.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 4rem;
  justify-items: center;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
  color: #000;
}

.pagination button {
  padding: 0.5rem 1rem;
  background: #4a90e2;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.pagination button:hover:not(:disabled) {
  background: #357abd;
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}


/* Responsividade */
@media (max-width: 768px) {
  .book-grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}
